/* hide immediate poll results */
.wp-polls .wp-polls-ans .wp-polls-ul { display:none; }
/* show polls not yet voted upon */
.wp-polls form.wp-polls-form .wp-polls-ans .wp-polls-ul { display:block; }
/* show pollsarchive */
.wp-polls.wp-polls-archive .wp-polls-ans .wp-polls-ul { display:block; }
